<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HQM Glasses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->

    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->

    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Owl Carousel -->

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/style.css">




    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <div class="box-wrap">
        <header role="banner" id="fh5co-header">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="fh5co-navbar-brand">
                                <a class="fh5co-logo" href="../views/index.ejs">HQM Glasses</a>
                            </div>
                        </div>
                        <div class="col-md-9 main-nav">
                            <nav>
                                <li><a href="/"><span>Home</span></a></li>
                                <li><a href="/product">Products</a></li>
                                <li class="active"><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>

                                <li class="dropdown">
                                    <a href="#">Account</a>
                                    <ul class="dropdown-menu">
                                        <% if (req.session.user) { %>
                                            <div>
                                                <li><a href="/user/profile">Xin chào! <%=req.session.user.name %>
                                                    </a></li><br>
                                                <li><a href="#">Giỏ hàng</a></li><br>
                                                <li><a href="/logout">Đăng xuất</a></li><br>
                                            </div>
                                            <% } else { %>
                                                <li><a href="/login">Đăng nhập</a></li><br>
                                                <li><a href="/register">Đăng ký</a></li>
                                                <% } %>
                                    </ul>
                                </li>
                            </nav>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- END: header -->
        <div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
            <div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/bg.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 float-overlay">
                            <h2>About Us</h2>
                            <h3>"Đôi dòng" về HQM teams.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END fh5co-intro-section -->
        <div id="fh5co-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="about-section">
                            <h3 class="animate-box">Company Background</h3>
                            <img class="display-left animate-box" src="images/ab1.jpg" alt="about" style="width: 350px;">
                            <p class="animate-box">HQM là một trang web bán mắt kính đáng tin cậy được thành lập với mục đích cung cấp cho khách hàng những sản phẩm chất lượng cao và dịch vụ tuyệt vời. Chúng tôi cam kết đem đến cho khách hàng sự hài lòng và tự tin khi mua sắm
                                mắt kính tại HQM.</p>
                            <img class="display-right animate-box" src="images/ab2.jpg" alt="about" style="width: 350px;">
                            <p class=" animate-box ">Chúng tôi có đội ngũ nhân viên giàu kinh nghiệm, thân thiện và tận tâm với khách hàng. Đội ngũ này đã được đào tạo để cung cấp cho khách hàng lựa chọn mắt kính phù hợp với nhu cầu của họ. Bằng cách lắng nghe và hiểu khách hàng,
                                chúng tôi đảm bảo rằng họ sẽ nhận được sự tư vấn chuyên nghiệp và lựa chọn mắt kính hoàn hảo cho mình.</p>
                            <blockquote class="animate-box ">
                                <p>“HQM cung cấp các loại mắt kính từ các thương hiệu uy tín và nổi tiếng trên thế giới, đảm bảo chất lượng và tính thẩm mỹ cao. Chúng tôi luôn cập nhật sản phẩm mới nhất để đáp ứng nhu cầu của khách hàng. Khách hàng có thể
                                    yên tâm về chất lượng và giá cả khi mua sắm tại HQM."</p>
                                <span>&mdash; HQM teams</span>
                            </blockquote>
                            <div class="row">
                                <div class="col-md-6 animate-box">
                                    <p>Chúng tôi cũng cam kết đem đến dịch vụ khách hàng tuyệt vời và hỗ trợ tận tình trong quá trình mua sắm và sau khi mua hàng. Chúng tôi luôn sẵn sàng giải đáp mọi thắc mắc của khách hàng và đưa ra các giải pháp tốt nhất
                                        để đảm bảo sự hài lòng của khách hàng.</p>
                                </div>
                                <div class="col-md-6 animate-box">
                                    <p>Chúng tôi cũng cam kết đem đến dịch vụ khách hàng tuyệt vời và hỗ trợ tận tình trong quá trình mua sắm và sau khi mua hàng. Chúng tôi luôn sẵn sàng giải đáp mọi thắc mắc của khách hàng và đưa ra các giải pháp tốt nhất
                                        để đảm bảo sự hài lòng của khách hàng.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sidebar">
                            <div class="inner animate-box">
                                <h2>Future orientation</h2>
                                <a href="#"><img class="img-responsive" src="images/ab3.jpg" alt="product"></a>
                                <p>HQMteams luôn đặt khách hàng lên hàng đầu, chính vì thế mỗi sản phẩm đều được lựa chọn dựa trên tiêu chí đánh giá của khách hàng.</p>
                            </div>

                            <div class="inner animate-box">
                                <h2>Customers Says</h2>
                                <p class="quote">“If you really want to do something, You will find a way, If you don't you'll find an excure”</p>
                                <span>&mdash; John Doe - Co Founder</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div id="footer" class="fh5co-border-line">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <p>Bạn muốn mua kính? Hãy <a href="about.ejs">liên hệ</a> với chúng tôi. <br>Made with <i class="icon-heart3 love"></i> by HQM
                                </a>
                                <p class="fh5co-social-icons">
                                    <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                    <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                    <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- END: box-wrap -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Parallax Stellar -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- Main JS (Do not remove) -->
    <script src="js/main.js"></script>

</body>

</html>