<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="box">
        <span class="borderLine"></span>
        <form method="POST" action="/login/check">
            <h2>Đăng nhập</h2>
            <div class="inputBox">
                <input id="email" name="email" type="text" required="required">
                <span>Tên đăng nhập</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required="required">
                <span>Mật khẩu</span>
                <i></i>
            </div>
            <div class="links">
                <a href="/forgot-password">Quên mật khẩu?</a>
                <a href="/register">Đăng ký</a>
            </div>
            <input type="submit" value="Đăng Nhập">
        </form>
    </div>
</body>

</html>

<style>
    /* //@import url(''); */
    
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poopins', sans-serif;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        /* background-color: #FFD061; */
        background-image: url("images/bg.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .box {
        position: relative;
        width: 380px;
        height: 420px;
        background-color: #bdaeca;
        border-radius: 8px;
        overflow: hidden;
    }
    
    .borderLine {
        position: absolute;
        top: 0;
        inset: 0;
    }
    
    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .box form {
        position: absolute;
        inset: 4px;
        background: #bdaeca;
        padding: 50px 40px;
        border-radius: 8px;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }
    
    .box form h2 {
        color: #fff;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1rem;
    }
    
    .box form .inputBox {
        position: relative;
        width: 300px;
        margin-top: 35px;
    }
    
    .box form .inputBox input {
        position: relative;
        width: 90%;
        padding: 20px 10px 10px 10px;
        background: transparent;
        outline: none;
        border: none;
        box-shadow: none;
        color: #23242a;
        font-size: 1em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        z-index: 10;
    }
    
    .box form .inputBox span {
        position: absolute;
        left: 0;
        padding: 20px 10px 10px;
        pointer-events: none;
        color: #fff;
        font-size: 1em;
        letter-spacing: 0.05em;
        transition: 0.5s;
    }
    
    .box form .inputBox input:valid~span,
    .box form .inputBox input:focus~span {
        color: #fff;
        font-size: 0.75em;
        transform: translateY(-34px);
        text-shadow: 0px 0px 10px #fff;
        text-shadow: 0px 0px 10px #fff;
    }
    
    .box form .inputBox i {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        box-shadow: 0px 0px 10px #fff;
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;
        transition: 0.5s;
        pointer-events: none;
    }
    
    .box form .inputBox input:valid~i,
    .box form .inputBox input:focus~i {
        height: 44px;
    }
    
    .box form .links {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .box form .links a {
        margin: 10px 0;
        font-size: 0.75em;
        color: #e9e3e3;
        text-decoration: none;
    }
    
    .box form .links a:hover {
        color: #fff;
        text-shadow: 0px 0px 10px #FFD061;
    }
    
    .box form input[type="submit"] {
        border: 1px solid #fff;
        box-shadow: 0px 0px 10px #fff;
        outline: none;
        padding: 9px 15px;
        background: #fff;
        color: #000;
        cursor: pointer;
        font-size: 0.9em;
        border-radius: 4px;
        font-weight: 400;
        width: 120px;
        margin-top: 10px;
    }
    
    .box form input[type="submit"]:active {
        opacity: 0.8;
    }
    
    .box form input[type="submit"]:hover {
        background: #FFD061;
        color: #fff;
        box-shadow: none;
        text-shadow: 0px 0px 10px #FFD061;
    }
</style>